@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply text-white bg-navy-background font-body;

    /* dark:text-white dark:bg-midnight */
  }
  h1 {
    @apply font-title md:text-h1 font-extraBold leading-h1;
  }
  h2 {
    @apply font-title md:text-h2 font-extraBold leading-h2;
  }
  h3 {
    @apply font-title md:text-h3 font-extraBold leading-h3;
  }
  h4 {
    @apply font-title md:text-h4 font-bold leading-h4;
  }
  p {
    @apply text-bodyLarge font-body;
  }
  a {
    @apply underline text-bodyLarge;
    &:hover {
      @apply text-ultra-pink;
    }
  }
  ul {
    @apply list-disc pl-6 space-y-2 text-bodyLarge;
  }
  ol {
    @apply list-decimal pl-6 space-y-2 text-bodyLarge;
  }
  .btn {
    @apply inline-block
      rounded-full 
      text-button	
      font-bold
      px-8 py-2
      no-underline
      relative;
  }
  .btn-primary {
    @apply text-white bg-ultra-pink border border-ultra-pink transition-transform duration-200;

    &:hover {
      @apply bg-ultra-pink/80 text-white border-ultra-pink -translate-y-1;
      box-shadow: 0 0 12px rgba(164, 120, 255, 0.6);
    }

    &:active,
    &:focus {
      @apply ring-4 ring-neon-violet shadow
      outline-none;
    }
  }

  .btn-secondary {
    @apply text-white bg-aqua border border-aqua transition-transform duration-200;

    &:hover {
      @apply bg-aqua/80 text-white border-aqua -translate-y-1;
      box-shadow: 0 0 12px rgba(164, 120, 255, 0.6);
    }

    &:active,
    &:focus {
      @apply ring-4 ring-neon-violet shadow
      outline-none;
    }
  }

  .btn-outline {
    @apply bg-transparent
    border-[3px]
        border-white;
    &:hover {
      @apply text-white -translate-y-1;
      box-shadow: 0 0 12px rgba(164, 120, 255, 0.6);
    }
    &:active,
    &:focus {
      @apply ring-4 ring-neon-violet shadow
      outline-none;
    }
  }
  .btn-link {
    @apply border-0 p-0 bg-transparent inline-block;

    &:hover {
      @apply underline text-current;
    }

    &:active,
    &:focus {
      @apply ring-4 ring-neon-violet shadow
      outline-none;
    }
  }
  .text-link {
    @apply underline underline-offset-2
      hover:text-ultra-pink;
  }
}

@layer utilities {
  img {
    @apply rounded;
  }
  .backdrop-blur-default {
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
  }
  .card-white {
    @apply bg-white text-midnight p-6 rounded shadow;
  }
  .card-gradient {
    @apply bg-gradient-primary text-white p-6 rounded shadow backdrop-blur;
  }
  .card-overlay {
    @apply border-2
    border-ultra-pink
    relative;
    &::after {
      @apply absolute
      top-0 bottom-0 left-0 right-0;
      content: "";
      background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0) 0%,
        rgba(3, 0, 233, 0.5) 61.5%
      );
    }
  }
  .bg-gradient-primary {
    background: linear-gradient(90deg, #3802a7 0%, #3c1253 98.73%);
  }
  
  .react-multi-carousel-item.react-multi-carousel-item--active {
    align-content: center;
    justify-content: center;
  }
  .react-multi-carousel-item {
    padding-right: 40px;
    height: auto !important;
    display: flex !important;
  }
}
