@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply text-white bg-navy-background font-body;

    /* dark:text-white dark:bg-midnight */
  }
  h1 {
    @apply font-title text-[2.5rem] md:text-h1 font-extraBold leading-h1;
  }
  h1.h1-alt {
    @apply font-title text-h3 font-extraBold leading-h3;
  }
  h2 {
    @apply font-title text-[1.875rem] md:text-h2 font-extraBold leading-h2;
  }
  h3 {
    @apply font-title text-[1.625rem] md:text-h3 font-extraBold leading-h3;
  }
  h4 {
    @apply font-title text-[1.375rem] md:text-h4 font-bold leading-h4;
  }
  p {
    @apply text-bodyLarge font-body mb-2;
  }
  a {
    @apply underline text-bodyLarge;
    &:hover {
      @apply text-ultra-pink;
    }
  }
  .link-no-underline {
    @apply no-underline !text-base;
    &:hover {
      @apply text-ultra-pink underline;
    }
  }
  ul {
    @apply list-disc pl-6 mx-4 space-y-2;
  }
  ol {
    @apply list-decimal pl-6 space-y-2;
  }

  .focus:focus,
  .btn:focus {
    @apply outline -outline-offset-1 outline-4 outline-ultra-pink
    ring-ultra-pink overflow-hidden;
  }

  a:focus {
    @apply outline outline-offset-2 rounded-md outline-4 outline-ultra-pink
    ring-ultra-pink;
  }

  label,
  .tagline {
    @apply text-label font-bold;
  }

  .btn {
    @apply inline-block
      rounded-full 
      text-button	
      font-bold
      px-8 py-2
      no-underline
      relative;
  }
  .btn-primary {
    @apply text-white bg-ultra-pink border border-ultra-pink transition-transform duration-200;

    &:hover {
      @apply bg-neon-violet text-white border-ultra-pink -translate-y-1;
      box-shadow: 0 0 12px rgba(164, 120, 255, 0.6);
    }

    &:active,
    &:focus {
      @apply ring-4 ring-ultra-pink shadow
      outline-none;
    }
  }

  .btn-secondary {
    @apply text-white bg-aqua border border-aqua transition-transform duration-200;

    &:hover {
      @apply bg-aqua/80 text-white border-aqua -translate-y-1;
      box-shadow: 0 0 12px rgba(164, 120, 255, 0.6);
    }

    &:active,
    &:focus {
      @apply ring-4 ring-neon-violet shadow
      outline-none;
    }
  }

  .btn-outline {
    @apply bg-transparent
    border-[3px]
        border-white;
    &:hover {
      @apply text-white -translate-y-1;
      box-shadow: 0 0 12px rgba(164, 120, 255, 0.6);
    }
    &:active,
    &:focus {
      @apply ring-4 ring-neon-violet shadow
      outline-none;
    }
  }
  .btn-link {
    @apply border-0 p-0 bg-transparent inline-block;

    &:hover {
      @apply underline text-current;
    }

    &:active,
    &:focus {
      @apply ring-4 ring-neon-violet shadow
      outline-none;
    }
  }
  .text-link {
    @apply underline underline-offset-2
      hover:text-ultra-pink;
  }
}

@layer utilities {
  img {
    @apply rounded;
  }

  .text-content {
    p, h1, h2, h3, h4, h5, h6 {
      @apply mb-4;
    }
    p {
      @apply text-base;
    }
    a {
      @apply text-aqua;
    }
    ul, ol {
      display: inline-block;
      text-align: left;
    }
  }

  .backdrop-blur-default {
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
  }
  .card-white {
    @apply bg-white text-midnight p-4 rounded shadow;
  }
  .card-gradient {
    @apply bg-gradient-primary text-white p-4 rounded shadow backdrop-blur border border-neon-violet;
  }
  .card-overlay {
    @apply border-2
    border-ultra-pink
    relative;
    &::after {
      @apply absolute
      top-0 bottom-0 left-0 right-0;
      content: "";
      background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0) 0%,
        rgba(3, 0, 233, 0.5) 61.5%
      );
    }
  }
  .bg-gradient-primary {
    background: linear-gradient(
      90deg,
      rgba(99, 15, 249, 0.8) 0%,
      rgba(51, 23, 153, 0.8) 100%
    );
  }

  /* Carousel Styling Below - Helps with making sure the cards are the same size */
  .tabbed-carousel .react-multi-carousel-item {
    align-content: center;
    justify-content: center;
  }

  .tabbed-carousel .react-multi-carousel-item {
    padding: 0 20px;
    height: auto !important;
    display: flex !important;
    flex: 1 1 auto;
    margin: 0 !important;
  }

  .carousel-button {
    @apply flex flex-row items-center gap-2 bg-white text-bodyLarge text-midnight border border-midnight rounded-md px-4 py-2 shadow transition;
    &:active,
    &:focus {
      @apply ring-4 ring-neon-violet shadow
      outline-none;
    }
  }

  .logo-carousel-tile {
    @apply flex items-center justify-center bg-white rounded-2xl p-4 h-40;
    &:focus {
      @apply ring-4 ring-neon-violet shadow
      outline-none;
    }
  }
}
